.design{
    display:none;
}
.development{
    display:none;
}
.product{
    display:none;
}
#text{
    display:none;
}
.main{
    margin:5px;
}
#row1{
    display:flex;
    flex-direction:row-reverse;
    margin:0 auto;
    width:80%;
}
#row2{
    margin:0 auto;
    width:80%;
    margin-bottom:5%;
}
.col-md-3>img{
    height: 95%;
    width:80%;
}
.col-md-3 :hover{
    background-color:white;
    opacity:0.4;
    border:5px solid white;
}
.col-md-3 p{
    display:none;
}
.text1{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}
.text2{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}
.text3{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}
.text4{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}
.text5{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}
.text6{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}
.text7{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}
.text8{
    color:black;
    margin-top:-35%;
    margin-left:-17%;
    text-align:center;
    font-weight:bolder;
}

.col-md-12>#header{
    padding:15%;
    color:white;
    text-align:center;
    text-transform: uppercase;
}
.col-md-12>#header .img{
    margin-bottom:3%;
}
#about{
    text-align:center;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
}
#services{
    text-align:center;
    color:white;
    padding:10%;
}
.col-md-4{
    text-align:center;
}
#title{
    text-align:center;
    margin:3%;
}
.col-md-4>input{
    background:transparent;
    border:1px solid white;
    margin-bottom:10%;
}
.col-md-8>textarea{
    height:100%;
    background:transparent;
    border:1px solid white;
}
.col-md-8{
    margin-bottom:3%;
}
#row{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
#row img{
    margin-top:5%;
    margin-right:0.5%;
    height:2%;
    width:2%;
}
h6{
    text-align:center;
    margin-top:5%;
}
#year{
    text-align:center;
}

.col-md-12>#h2{
    text-align:center;
    color:white;
    margin:2%;
}
.col-md-12{
    text-align:center;
}
h2{
    text-transform:uppercase;
}
.col-md-4>p{
    text-transform:uppercase;
}
#email::placeholder{
    color:white;
}
#name::placeholder{
    color:white;
}
#area::placeholder{
    color:white;
}